<footer>
  {{ site.footer }}
  <a href="https://www.facebook.com/scenographist/"><img src="https://github.com/Scenographist/scenographist/blob/a2fa13fa4f123bd36a88223ee18a2d97034a9ef8/images/social/facebook.svg"></a>
  <a href="https://twitter.com/generatedart"><img src="https://github.com/Scenographist/scenographist/blob/a2fa13fa4f123bd36a88223ee18a2d97034a9ef8/images/social/twitter.svg"></a>
  <a href="https://www.instagram.com/generatedart/"><img src="https://github.com/Scenographist/scenographist/blob/a2fa13fa4f123bd36a88223ee18a2d97034a9ef8/images/social/instagram.svg"></a>
  <a href="https://www.youtube.com/@scenographist"><img src="https://github.com/Scenographist/scenographist/blob/a2fa13fa4f123bd36a88223ee18a2d97034a9ef8/images/social/youtube.svg"></a>
  <a href="https://www.tiktok.com/@generatedart"><img src="https://github.com/Scenographist/scenographist/blob/a2fa13fa4f123bd36a88223ee18a2d97034a9ef8/images/social/tiktok.svg"></a>
</footer>
