<footer>
  {{ site.footer }}
  <a href="https://www.facebook.com/scenographist/"><img src="/images/social/facebook.svg"></a>
  <a href="https://twitter.com/generatedart"><img src="/images/social/twitter.svg"></a>
  <a href="https://www.instagram.com/generatedart/"><img src="/images/social/instagram.svg"></a>
  <a href="https://www.youtube.com/@scenographist"><img src="/images/social/youtube.svg"></a>
  <a href="https://www.tiktok.com/@generatedart"><img src="/images/social/tiktok.svg"></a>
</footer>
